
.dashboardContainer {
    display: flex;
    background-color: #f0f2f5; /* Mesmo cinza claro do login */
    min-height: 100vh;
    width: 100%;
}

.mainContent {
    flex: 1; /* Ocupa o espaço restante */
    display: flex;
    flex-direction: column;
}

.pageContent {
    padding: 2rem;
    flex: 1;
    overflow-y: auto; /* Permite scroll se o conteúdo for grande */
}
