
.investmentCard {
    background-color: #252a41;
    padding: 1rem; /* Reduzido */
    border-radius: 12px;
    border: 1px solid #363b52;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centralizado */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.investmentCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem; /* Espaçamento adicionado */
}

.cardHeader h3 {
    margin: 0;
    font-size: 1rem; /* Reduzido */
    font-weight: 600;
    color: #E0E0E0;
}

.positive, .negative {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.9rem; /* Reduzido */
    font-weight: 700;
}

.positive {
    color: #34D399; /* Verde neon */
    text-shadow: 0 0 8px rgba(52, 211, 153, 0.4);
}

.negative {
    color: #F87171; /* Vermelho neon */
    text-shadow: 0 0 8px rgba(248, 113, 113, 0.4);
}

.totalAmount {
    font-size: 1.8rem; /* Reduzido */
    font-weight: 700;
    color: #FFFFFF;
    margin: 0.25rem 0; /* Margem reduzida */
    text-align: center;
}

.footerText {
    margin: 0;
    margin-top: 0.25rem; /* Espaçamento adicionado */
    font-size: 0.8rem; /* Reduzido */
    color: #A0AEC0;
    text-align: center;
}
