
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    padding-top: 4rem; /* Adiciona espaço no topo */
    background-color: #1a1d2e; /* Cor de fundo da página de transação */
}
